// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------

body{
    font-family: 'Big Shoulders', sans-serif;
}
figure{
    margin: 0;
    padding: 0;
}