@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;


.header {
    .logo {
        margin: 0 15px;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .hamburger-menu {
        margin-left: 100px;
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        width: 30px;
        height: 24px;
        position: relative;
        z-index: 1000;
        .bar {
            display: block;
            width: 100%;
            height: 3px;
            background-color: $brand-color;
            border-radius: 3px;
            transition: all 0.3s ease-in-out;
            position: absolute;
            left: 0;      
        }
        .bar:nth-child(1) { top: 0; }
        .bar:nth-child(2) { top: 10px; }
        .bar:nth-child(3) { top: 20px; }
        &.active .bar:nth-child(1) {
            transform: translateY(10px) rotate(45deg);
        }
        &.active .bar:nth-child(2) {
            opacity: 0;
        }
        &.active .bar:nth-child(3) {
            transform: translateY(-10px) rotate(-45deg);
        }
        &.active {
            transform: translateY(5px) translateX(20px);
        }
    }

    &-nav {
        ul{
            list-style: none;
            margin: 0;
            padding: 20px 0; 
            display: flex;
            flex-direction: column; 
            width: 100%;
            background-color: #444; 
            position: absolute;
            top: 60px; 
            left: 0;
            transform: translateX(-100%); 
            transition: transform 0.3s ease-in-out;
            z-index: 999;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            li {
                margin: 0;
                text-align: center;
                padding: 5px 0;
            }
            a {
                color: $brand-color;
                text-decoration: none;
                display: block;
                padding: 10px 20px;
                position: relative;
                transition: transform 0.2s ease-in-out;
            }
            a::after {
                content: '';
                position: absolute;
                width: 0;
                height: 2px;
                bottom: -5px;
                left: 0;
                background-color: currentColor;
                transition: width 0.3s ease-out;
            }
            a:hover::after {
                width: 100%;
            }

            a:hover {
                transform: scale(1.05); 
            }
        }
        ul.active{
            transform: translateX(0);
        }
    }

}


@include respond-to('large') {
    .hamburger-menu {
        display: none;
    }

    .header-nav ul {
        align-items: center;
        display: flex;
        flex-direction: row; 
        width: auto; 
        position: static; 
        transform: translateX(0); 
        background-color: transparent; 
        box-shadow: none; 
        padding: 0;
        li{
            margin-left: 20px;
            padding: 0;
        }
        a{
            padding: 5px 0;
            display: inline-block;
        }
    }
}